<html>
  <head>
    <script src="static/lib4ri.js"></script>
    <script>window.addEventListener("DOMContentLoaded", lib4riPage);</script>
    <script>
      var docroot = get_object_from_flaskparam('{{ docroot }}');
      var institutes = get_object_from_flaskparam('{{ institutes }}');
      var files = get_object_from_flaskparam('{{ files }}');
      var institute = get_object_from_flaskparam('{{ institute }}');
      var errormsgs = []
      {%- with messages = get_flashed_messages() -%}
      {%-   if messages -%}
      {%-     for msg in messages %}
      errormsgs.push("{{ msg }}")
      {%-     endfor -%}
      {%-   endif -%}
      {%-  endwith %}
    </script>
  </head>
  <body>
    <noscript>Please activate javascript!</noscript>
  </body>
</html>
