<html>
  <head>
    <script src="static/lib4ri.js"></script>
    <script>window.addEventListener("DOMContentLoaded", lib4riProcessPage);</script>
    <script>
      var success = get_object_from_flaskparam('{{ success }}');
      var filename = get_object_from_flaskparam('{{ filename }}');
      var nexturl = get_object_from_flaskparam('{{ nexturl }}');
      var stdout = get_object_from_flaskparam('{{ stdout }}');
      var stderr = get_object_from_flaskparam('{{ stderr }}');
      var errormsgs = []
      {%- with messages = get_flashed_messages() -%}
      {%-   if messages -%}
      {%-     for msg in messages %}
      errormsgs.push("{{ msg }}")
      {%-     endfor -%}
      {%-   endif -%}
      {%-  endwith %}
    </script>
  </head>
  <body>
    <noscript>Please activate javascript!</noscript>
  </body>
</html>
