<html>
  <head>
    <script src="static/lib4ri.js"></script>
    <script>window.addEventListener("DOMContentLoaded", lib4riTokenErrorPage);</script>
    <script>
      var oldtoken = get_object_from_flaskparam('{{ oldtoken }}');
      var newtoken = get_object_from_flaskparam('{{ newtoken }}');
      var expires = get_object_from_flaskparam('{{ expires }}');
      var errormsgs = []
      {%- with messages = get_flashed_messages() -%}
      {%-   if messages -%}
      {%-     for msg in messages %}
      errormsgs.push("{{ msg }}")
      {%-     endfor -%}
      {%-   endif -%}
      {%-  endwith %}
    </script>
  </head>
  <body>
    <noscript>Please activate javascript!</noscript>
  </body>
</html>
